.sugg-input {
      margin: 5px;
      width: 280px;
      border-radius: 5px;
      border: none;
      color: rgb(0, 97, 176);
      padding: 8px;
      background-color: rgb(166, 208, 242);

    }
    
    .sugg-input:first-child {
      margin-top: 5px;
    }

    .sugg-input::placeholder {
      color: white;
      font-family: lato;
    }
    .sugg-input:hover::placeholder {
      color: rgb(166, 208, 242);
    }

    .sugg-input:focus {
      // border: 5px solid ;
      outline: rgb(235, 206, 110) solid 5px;
      background-color: white;
    }

    .sugg-input:hover {
      background-color: white;
    }

    sugg-input:valid {
      background-color: white;
    }
  