 footer {
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   margin-top: 30px;
   
   .footer-cont {
      display: flex;
      flex-direction: row;
      height: 115px;
      justify-content: space-between;
      align-items: center;
  
      .foot-desc {
        font-family: sans-serif;
        width: 450px;
        margin: 20px;
        color: rgb(166, 214, 202);
        z-index: -1;
      }

      .teammates {
        display: flex;
        flex-direction: column;
        margin: 20px;
        align-items: flex-end;

        p {
          font-family: sans-serif;
          width: fit-content;
          color: rgb(201, 231, 224);
          margin: 0;
          z-index: -1;

        }
      }
    }
 }