.body-4 {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
  background-image: url('../../assets/background4.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .total-main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .page-stretch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
  }

  .plan-title {
    color: white;
    font-size: 28px;
  }

  .info-cont {
      position: absolute;
    font-size: 18px;
    top: 150px;
    left: 75px;
    width: 440px;
  }

  .button-edit {
    margin: 5px;
  }

  .main-desc {
    color: white;
    font-size: 18px;
  }

  .left-side {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 18px;

  }

  .left-right {
    display: flex;
    align-items: center;
  }


  .create-sugg {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    width: 370px;
    background-color: rgb(235, 206, 110);
    border-radius: 14px;
  }

  .plan-sugg-cont {
    display: flex;
    flex-direction: column;
  }

  .form-inputs {
    margin: 8px;
    width: 265px;
    border-radius: 5px;
    border: none;
    color: rgb(8, 159, 123);
    background-color: rgb(204, 255, 243);
    padding: 8px;
  }

  .form-inputs::placeholder {
    color: rgb(8, 159, 123);
    font-family: lato;
  }

  .all-suggs {
    // position: absolute;
    top: 260px;
    bottom: 100px;
    right: 20px;
    width: 440px;
    height: 340px;
    overflow: scroll;
  }

  .all-suggs::-webkit-scrollbar-thumb {
    background-color: rgb(238, 224, 177);
    border-radius: 20px;
  }

  .invite-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
    height: 95px;
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 15px;
    margin-left: 23px;


    .top-invite {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .invite-ppl {
      color: rgb(8, 159, 123);
    }
  }
  
  .members-cont::-webkit-scrollbar-thumb {
  background-color: rgb(150, 221, 194);
  border-radius: 20px;
}
  .members-cont {
    overflow: scroll;
    direction: rtl;
    border-radius: 15px;
    width: 250px;
    max-height: 230px;
    padding: 10px;

    .member-name {
      margin: 0;
      color: white;
      font-size: 15px;
      text-align: center;
      padding: 15px;
    }

  }
  .member-list-scroll {
    background-color: rgb(8, 159, 123);
    width: 235px;
    min-height: 200px;
    border-radius: 15px;
    margin: 0;
    

  }

  .radio-cont {
    width: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    font-size: 18px;
    
    input {
      margin-left: 10px;
    }

    input[type="radio"] {
      opacity: 0;
      width: 0;
    }
  }

}

.buttons {
    background-color: white;
    border-radius: 15px;
    font-family: sans-serif;
    color: rgb(8, 159, 123);
    width: 90px;
    border: none;
    margin-top: 25px;
    margin-bottom: 15px;
    height: 32px;
    padding: 7px;

  }

  .buttons:hover {
    background-color: rgb(235, 206, 110);
  }

  .calendar-cont {
    margin-right: 15px;
    height: 320px;
  }
