.sugg-item-cont {
  background-color: rgb(255, 255, 255, 0.75);
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  width: 370px;


  p.sugg-title {
    color: rgb(0, 97, 176);
    font-size: 20px;
    margin: 10px
  }

  
}
